In [28]:
# initialize global variable a to 0
a = 0

# define function b
def b(a):
    # declare that the function is using the global variable a: global a
    # update a by calling function c with a as argument
    a = c(a)

# define function c
def c(a):
    # return a plus 2
    return a + 2

# call function b three times, which updates the value of a each time
b(a)
b(a)
b(a)

# print the final value of a, which should be 6
print(a)

0

In [15]:
def fileLength(filename):
    try:
        infile = open(filename, 'r')
        content = infile.read()
        infile.close()
        return len(content)
    except FileNotFoundError:
        print("File {} not found.".format(filename))
    except:
        print("Error reading file {}.".format(filename))

filename = 'C:\\Users\\patel\\Downloads\\words.txt.txt'
print(fileLength(filename))

5345

In [3]:
class Marsupial:
    def __init__(self):
        self.pouch = []
    
    def put_in_pouch(self, item):
        self.pouch.append(item)
    
    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y
    
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
    
    def __str__(self):
        return "I am a Kangaroo located at coordinates ({}, {})".format(self.x, self.y)

k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0, 0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3, 0)

In [5]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

In [17]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.head_val = 0
    
    def handle_starttag(self, tag, attrs):
        # print(tag)
        if tag.startswith('html') or tag.startswith('head'):
            pass;
        elif tag.startswith('h'):
            self.head_val = int(tag[1])
    
    def handle_data(self, data):
        if self.head_val:
            print(' ' * (self.head_val - 1) + data)
            self.head_val = 0

In [18]:
with open('w3c.html') as infile:
    content = infile.read()
    hp = HeadingParser()
    hp.feed(content)

W3C Mission
 Principles

In [9]:
import sqlite3

conn = sqlite3.connect('example.db')

cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS rainfall_temp_data (
                id INTEGER PRIMARY KEY,
                city TEXT,
                country TEXT,
                season TEXT, 
                temperature REAL,
                rainfall REAL)''')

# insert some data into the table
cur.execute("INSERT INTO rainfall_temp_data (id, city, country, season, temperature, rainfall) VALUES (?, ?, ?, ?, ?, ?)", (1, 'Mumbai', 'India', 'Winter', 24.8, 5.9))
cur.execute("INSERT INTO rainfall_temp_data (id, city, country, season, temperature, rainfall) VALUES (?, ?, ?, ?, ?, ?)", (2, 'Mumbai', 'India', 'Spring', 28.4, 16.2))
cur.execute("INSERT INTO rainfall_temp_data (id, city, country, season, temperature, rainfall) VALUES (?, ?, ?, ?, ?, ?)", (3, 'Mumbai', 'India', 'Summer', 27.9, 1549.4))
cur.execute("INSERT INTO rainfall_temp_data (id, city, country, season, temperature, rainfall) VALUES (?, ?, ?, ?, ?, ?)", (4, 'Mumbai', 'India', 'Fall', 27.6, 346.0))
cur.execute("INSERT INTO rainfall_temp_data (id, city, country, season, temperature, rainfall) VALUES (?, ?, ?, ?, ?, ?)", (5, 'London', 'United Kingdom', 'Winter', 4.2, 207.7))
cur.execute("INSERT INTO rainfall_temp_data (id, city, country, season, temperature, rainfall) VALUES (?, ?, ?, ?, ?, ?)", (6, 'London', 'United Kingdom', 'Spring', 8.3, 169.6))
cur.execute("INSERT INTO rainfall_temp_data (id, city, country, season, temperature, rainfall) VALUES (?, ?, ?, ?, ?, ?)", (7, 'London', 'United Kingdom', 'Summer', 15.7, 157.0))
cur.execute("INSERT INTO rainfall_temp_data (id, city, country, season, temperature, rainfall) VALUES (?, ?, ?, ?, ?, ?)", (8, 'London', 'United Kingdom', 'Fall', 10.4, 218.5))
cur.execute("INSERT INTO rainfall_temp_data (id, city, country, season, temperature, rainfall) VALUES (?, ?, ?, ?, ?, ?)", (9, 'Cairo', 'Egypt', 'Winter', 13.6, 16.5))
cur.execute("INSERT INTO rainfall_temp_data (id, city, country, season, temperature, rainfall) VALUES (?, ?, ?, ?, ?, ?)", (10, 'Cairo', 'Egypt', 'Spring', 20.7, 6.5))
cur.execute("INSERT INTO rainfall_temp_data (id, city, country, season, temperature, rainfall) VALUES (?, ?, ?, ?, ?, ?)", (11, 'Cairo', 'Egypt', 'Summer', 27.7, 0.1))
cur.execute("INSERT INTO rainfall_temp_data (id, city, country, season, temperature, rainfall) VALUES (?, ?, ?, ?, ?, ?)", (12, 'Cairo', 'Egypt', 'Fall', 22.2, 4.5))

In [10]:
cur.execute('SELECT Temperature FROM rainfall_temp_data')
result_a = cur.fetchall()
print(result_a)

[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

In [11]:
cur.execute('SELECT DISTINCT city FROM rainfall_temp_data')
result_b = cur.fetchall()
print(result_b)

[('Mumbai',), ('London',), ('Cairo',)]

In [12]:
cur.execute("SELECT * FROM rainfall_temp_data WHERE country = 'India'")
result_c = cur.fetchall()
print(result_c)

[(1, 'Mumbai', 'India', 'Winter', 24.8, 5.9), (2, 'Mumbai', 'India', 'Spring', 28.4, 16.2), (3, 'Mumbai', 'India', 'Summer', 27.9, 1549.4), (4, 'Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [13]:
cur.execute("SELECT * FROM rainfall_temp_data WHERE season = 'Fall'")
result_d = cur.fetchall()
print(result_d)

[(4, 'Mumbai', 'India', 'Fall', 27.6, 346.0), (8, 'London', 'United Kingdom', 'Fall', 10.4, 218.5), (12, 'Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [14]:
cur.execute('SELECT City, Country, Season FROM rainfall_temp_data WHERE Rainfall BETWEEN 200 AND 400')
result_e = cur.fetchall()
print(result_e)

[('Mumbai', 'India', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('London', 'United Kingdom', 'Fall')]

In [15]:
cur.execute('SELECT City, Country FROM rainfall_temp_data WHERE Season = "Fall" AND Temperature > 20 ORDER BY Temperature ASC')
result_f = cur.fetchall()
print(result_f)

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [16]:
cur.execute('SELECT SUM(Rainfall) AS TotalRainfall FROM rainfall_temp_data WHERE City = "Cairo"')
result_g = cur.fetchall()
print(result_g)

[(27.6,)]

In [17]:
cur.execute('SELECT Season, SUM(Rainfall) AS TotalRainfall FROM rainfall_temp_data GROUP BY Season')
result_h = cur.fetchall()
print(result_h)

[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

In [18]:
conn.close()

In [19]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']

In [20]:
print(words)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [21]:
words_a = [word.upper() for word in words]
print(words_a)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [22]:
words_b = [word.lower() for word in words]
print(words_b)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [23]:
words_c = [len(word) for word in words]
print(words_c)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [24]:
words_d = [[word.upper(), word.lower(), len(word)] for word in words]
print(words_d)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [25]:
words_e = [word for word in words if len(word) >= 4]
print(words_e)

['quick', 'brown', 'jumps', 'over', 'lazy']